*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(assets/images/background.png);
}
h1{
    margin: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.accordion{
    width: 1220px;
    margin: 0 auto;
    max-width: 100%;
}
.container{

display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
width: 100%;
}
.accordion-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  1.5em;
    background-color: rgb(60, 71, 65);
    color: aliceblue;
    width: 100%;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 0.3em;
    padding: 0.5em;
    transition: 1.5s;
}
.accordion:hover 
.accordion-item:hover 
.accordion-item-content,
.accordion 
.default 
.accordion-item-content {
    height: 8em;
    transition: 1s;
   
}
.default:hover{
    background-image: url(assets/icons/plus.svg);
    background-size: 30px;
    background-position: right;
    background-repeat: no-repeat;

}
.chainsaw:hover{
    
    background-size: 30px;
    background-position: left;
    background-repeat: no-repeat;
    }

.accordion-item:hover{
    color: black;
    background-size: 30px;
    background-image: url(assets/icons/cross.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(235, 239, 227);
}


.eminem{
    background-image: url(assets/images/eminem.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
}
.eminem:hover {
    background-image: url(assets/images/eminem.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left;
}
.shower {
    background-image: url(assets/images/graph.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
}
.shower:hover {
    background-image: url(assets/images/graph.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left;
}
.diploma {
    background-image: url(assets/images/college.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
    
}
.diploma:hover {
    background-image: url(assets/images/college.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left;
    
}
.accordion-item{
    background-image: url(assets/icons/plus.svg);
    background-size: 30px;
    background-position: right;
    background-repeat: no-repeat;
    
}
.default{
    background-image: url(assets/icons/cross.svg);
    background-size: 30px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(235, 239, 227);
    color: black;
}
.chainsaw {
    background-image: url(assets/images/woody.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
}

